<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Enlazar vuejs -->
    <script src="https://unpkg.com/vue@3"></script>
    <title>Vuejs</title>
</head>
    <body>
        <!-- Crear contenedor -->
        <div id="contenedor">
            
            <ol>
                <li v-for = "chamaco in chamacos" >
                    {{chamaco.name}}: <span>{{chamaco.lastname}}</span>
                </li>
            </ol>
            <input type="text" v-model="name" name="">
            <input type="text" v-model="lastame" name="">
            <button @click = "save">Click me</button>



            <hr>

            <!-- <h1>Suma: {{resultado}}</h1> -->
            <br>




            <hr>

            <h1>Ingrese su edad</h1>
            <input type="text" v-model="edad">
            <h1 v-if="edad < 18">No pasar</h1>
            <h1 v-else="edad >= 18 ">Pase</h1>

        </div>


        
        <!--  -->
        <script type="text/javascript">
            const { createApp } = Vue

            const app = createApp({
            data() {
                return {
                edad: 0,
                chamacos: [{name: 'Manuel', lastname: 'H'},{name: 'Gudfeis', lastname: 'movil'},{name: 'Iran', lastname: 'Front'},{name: 'Abdiel', lastname: 'Movil'}],
                inputName: "",
                inputLastame: ""
                }
            },
            methods: {
                suma(){
                    // this.resultado = parseInt(this.num1)+ parseInt(this.num2);
                },
                save(){
                    this.chamacos.push({name : this.name, lastname : this.lastame})
                }
                
            }
            }).mount('#contenedor')
        </script>
        
    </body>
</html>